<!-- Панель навигации -->
<div th:fragment="sidebar(menu)">
    <div class="sidebar">
        <!-- Меню -->
        <ul class="menu">
            <li th:each="item : ${menu}">
                <div th:replace="~{::menuitem(item=${item})}"></div>
            </li>
        </ul>
    </div>
</div>

<!-- Рекурсивный фрагмент -->
<div th:fragment="menuitem(item)">
    <!-- Специальный элемент типа input -->
    <div th:if="${item.type == 'input'}" class="menu-search-box">
<!--        <form class="menu-search-form" onsubmit="return searchSoftSection(this)">-->
        <form class="menu-search-form" onsubmit="return searchSoftSection(this)">
            <img th:if="${item.icon != null}" th:src="@{/icons/{icon}(icon=${item.icon})}"
                 alt="🔍" class="menu-icon clickable-icon"
                 onclick="this.closest('form').requestSubmit()" />

            <input type="text"
                   th:attr="id=${item.id}, placeholder=${item.placeholder}"
                   class="menu-search-input" />
        </form>
    </div>

    <a href="javascript:void(0)"
       th:if="${item.type != 'input' and item.children != null and #lists.size(item.children) > 0}"
       onclick="toggleSubmenu(this)" class="has-children">
        <img th:if="${item.icon != null and !#strings.isEmpty(item.icon)}"
             th:src="@{/icons/{icon}(icon=${item.icon})}" alt="" class="menu-icon">
        <span th:text="${item.title}"></span>
    </a>

    <a th:if="${item.type != 'input' and (item.children == null or #lists.isEmpty(item.children))}"
       th:href="@{${item.endpoint}}"
       onclick="return loadContentAjax(this)"
       th:attr="data-title=${item.title}, data-menu-id=${item.id}, data-path=${item.path}, data-search-id=${item.searchId}">
        <img th:if="${item.icon != null}" th:src="@{/icons/{icon}(icon=${item.icon})}" alt="" class="menu-icon">
        <span th:text="${item.title}"></span>
    </a>

    <ul class="submenu"
        th:if="${item.children != null and #lists.size(item.children) > 0}">
        <li th:each="child : ${item.children}">
            <div th:replace="~{::menuitem(item=${child})}"></div>
        </li>
    </ul>
</div>
