<!-- soft-list.html -->
<div th:fragment="softListFragment(softList)">

    <!-- Контент софта -->
    <main class="content-product">
        <div class="product-grid">
            <div th:each="soft : ${softList}" class="product-item" th:data-name="${soft.name}">

                <!-- Название -->
                <div class="product-title" th:text="${soft.name}">Soft Name</div>

                <!-- Изображения -->
                <div class="product-image-container" th:if="${soft.imageUrls != null and !soft.imageUrls.isEmpty()}">
                    <div class="image-wrapper">
                        <img th:each="imgUrl, iterStat : ${soft.imageUrls}"
                             th:src="@{${imgUrl}}"
                             class="product-image"
                             th:classappend="${iterStat.index != 0} ? ' hidden' : ''"
                             data-action="open-modal-images"
                             alt="Soft image" />
                    </div>
                </div>

                <!-- Краткое описание -->
                <div class="product-description"
                     th:text="${soft.shortDescription ?: 'Описание отсутствует'}">
                    Краткое описание...
                </div>

                <!-- Скрытое полное описание (вставляем HTML) -->
                <div class="product-full-description visually-hidden" th:utext="${soft.description}"></div>

                <!-- Список архивов -->
                <div class="product-archive" th:if="${soft.archiveUrls != null and !soft.archiveUrls.isEmpty()}">
                    <div class="custom-select-wrapper">
                        <select class="archive-select" th:data-soft-id="${soft.id}">
                            <option value="" disabled selected>Скачать файл</option>
                            <option th:each="url : ${soft.archiveUrls}"
                                    th:value="${url}"
                                    th:text="${url.substring(url.lastIndexOf('/') + 1)}">
                            </option>
                        </select>
                        <div class="custom-arrow"></div>
                    </div>
                </div>

            </div> <!-- /product-item -->
        </div> <!-- /product-grid -->
    </main>

    <!-- пагинация -->
    <div class="pagination-container">
        <div th:replace="~{fragments/pagination :: pageSizeSelector(pageData=${pageData})}"></div>
        <th:block th:if="${pageData.totalPages > 1}">
            <div th:replace="~{fragments/pagination :: paginationControls(pageData=${pageData}, pageButtons=${pageButtons})}"></div>
        </th:block>
    </div>

    <!-- Модальное окно -->
    <div id="softModal" class="soft-modal hidden">
        <div class="soft-modal-overlay" data-action="close-modal"></div>

        <div class="soft-modal-content">
            <button class="modal-close-btn" data-action="close-modal">&times;</button>

            <h2 id="modalTitle" class="modal-title"></h2>

            <!-- Превьюшки сверху -->
            <div class="modal-thumbnails"></div>

            <!-- Основная картинка -->
            <div class="modal-body">
                <img id="modalMainImage" class="modal-main-image" src="" alt="Soft image" />
            </div>
        </div>
    </div>


</div>


<!--                &lt;!&ndash; Список архивов &ndash;&gt;-->
<!--                <div class="product-archive"-->
<!--                     th:if="${soft.archiveUrls != null and !soft.archiveUrls.isEmpty()}">-->
<!--                    <div class="archive-list">-->
<!--                        <div th:each="url : ${soft.archiveUrls}">-->
<!--                            <a th:if="${url != null}"-->
<!--                               th:href="@{${url}}"-->
<!--                               th:text="${url.substring(url.lastIndexOf('/') + 1)}">-->
<!--                            </a>-->
<!--                            <span th:if="${url == null}">файл</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

