<!-- soft-list.html -->
<div th:fragment="softListFragment(softList)">

    <!-- Контент софта -->
    <main class="content-product">
        <div class="product-grid">
            <div th:each="soft : ${softList}"
                 class="product-item"
                 th:data-id="${soft.id}"
                 th:data-name="${soft.name}">

                <!-- Название -->
                <div class="product-title" th:text="${soft.name}">Soft Name</div>

                <!-- Изображения. Первое загружаем, остальные - в список -->
                <img class="product-image"
                     th:src="@{${soft.imageUrls[0]}}"
                     th:data-images="${#strings.arrayJoin(soft.imageUrls.toArray(), '|')}"
                     data-action="open-modal-images"
                     alt="Soft image"/>

                <!-- Краткое описание -->
                <div class="product-description"
                     th:text="${soft.shortDescription ?: 'Описание отсутствует'}"
                     data-action="open-modal-description">
                    Краткое описание...
                </div>

                <!--                TODO: Переделать имена файлов архивов! -->
                <!-- Список архивов -->
                <div class="product-archive"
                     th:if="${soft.archiveUrls != null and !soft.archiveUrls.isEmpty()}">

                    <!-- Если только один файл -->
                    <div class="single-archive"
                         th:if="${#lists.size(soft.archiveUrls) == 1}">
                        <a th:href="@{${soft.archiveUrls[0]}}"
                           th:text="${@thymeleafUtil.fileName(soft.archiveUrls[0])}"
                           class="archive-link">
                        </a>
                    </div>

                    <!-- Если файлов больше одного -->
                    <div class="custom-select-wrapper"
                         th:if="${#lists.size(soft.archiveUrls) > 1}">
                        <select class="archive-select" th:data-soft-id="${soft.id}">
                            <option value="" disabled selected>Скачать файл</option>
                            <option th:each="url : ${soft.archiveUrls}"
                                    th:value="${url}"
                                    th:text="${@thymeleafUtil.fileName(url)}">
                            </option>
                        </select>
                        <div class="custom-arrow"></div>
                    </div>

                </div>

            </div> <!-- /product-item -->
        </div> <!-- /product-grid -->
    </main>

    <!-- пагинация -->
    <div class="pagination-container">
        <div th:replace="~{fragments/pagination :: pageSizeSelector(pageData=${pageData})}"></div>
        <th:block th:if="${pageData.totalPages > 1}">
            <div th:replace="~{fragments/pagination :: paginationControls(pageData=${pageData}, pageButtons=${pageButtons})}"></div>
        </th:block>
    </div>

    <!-- Модальное окно для галереи картинок-->
    <div id="softModal" class="soft-modal hidden">
        <div class="soft-modal-overlay" data-action="close-modal"></div>

        <div class="soft-modal-content">
            <button class="modal-close-btn" data-action="close-modal">&times;</button>

            <h2 id="modalTitle" class="modal-title"></h2>

            <!-- Превьюшки сверху -->
            <div class="modal-thumbnails"></div>

            <!-- Основная картинка -->
            <div class="modal-body">
                <img id="modalMainImage" class="modal-main-image" src="" alt="Soft image" />
            </div>
        </div>
    </div>

    <!-- Модальное окно для description -->
    <div id="descriptionModal" class="soft-modal hidden">
        <div class="soft-modal-overlay" data-action="close-modal"></div>

        <!-- внешний контейнер для скруглений и тени -->
        <div class="description-modal-wrapper">
            <button class="modal-close-btn" data-action="close-modal">&times;</button>

            <!-- скроллируемый контент -->
            <div class="soft-modal-content">
                <div id="descriptionModalBody" class="modal-description-body"></div>
            </div>
        </div>
    </div>

</div>
