<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Боковое меню</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/pages.css}">
    <link rel="stylesheet" th:href="@{/css/soft-items.css}">
    <link rel="stylesheet" th:href="@{/css/soft-list-view.css}">
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/init-content.js" defer></script>
    <script src="/js/image-viewer.js" defer></script>
    <script th:src="@{/js/soft-list-view.js}" defer></script>

</head>
<body>

<!-- Меню -->
<div th:replace="~{fragments/sidebar :: sidebar(menu=${menu})}"></div>

<!-- Контент -->
<div style="margin-left:260px; padding:20px;">

    <!-- Заглушка (видна только если нет path) -->
    <div id="welcome" th:if="${initialPath == null}">
        <h1>Добро пожаловать</h1>
        <p>Контент страницы здесь...</p>
    </div>

    <div id="content" th:attr="data-initial-path=${initialPath}">
        <!-- сюда будет подгружаться фрагмент страницы HTML -->
    </div>
</div>

</body>
</html>
